osource "d:/gg_project/MS_Workspace_10kV//boards/shields/*/Kconfig.shield"
osource "d:/gg_project/MS_Workspace_10kV/Temperature_Sensor/boards/shields/*/Kconfig.shield"
osource "D:/Nordic/NRF_CONNECT_SDK/v1.9.0/nrf/boards/shields/*/Kconfig.shield"
