osource "d:/gg_project/MS_Workspace_10kV//boards/shields/*/Kconfig.defconfig"
osource "d:/gg_project/MS_Workspace_10kV/Temperature_Sensor/boards/shields/*/Kconfig.defconfig"
osource "d:/gg_project/MS_Workspace_10kV/Temperature_Router/boards/shields/*/Kconfig.defconfig"
osource "d:/gg_project/MS_Workspace_10kV/shell_test/boards/shields/*/Kconfig.defconfig"
osource "d:/gg_project/MS_Workspace_10kV/light_bulb/boards/shields/*/Kconfig.defconfig"
osource "d:/gg_project/MS_Workspace_10kV/network_coordinator/boards/shields/*/Kconfig.defconfig"
osource "d:/gg_project/MS_Workspace_10kV/Temperature_coordinator/boards/shields/*/Kconfig.defconfig"
osource "d:/gg_project/MS_Workspace_10kV/watchdog/boards/shields/*/Kconfig.defconfig"
osource "D:/Nordic/NRF_CONNECT_SDK/v1.9.1/nrf/boards/shields/*/Kconfig.defconfig"
